<div class="row " id="top-bar">
  <div class="col-lg-1 topMargin">
      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"> <%= image_tag('menu_icon.png') %>)</a>
  </div>
  <div class="col-lg-3 topMargin">
<div class="input-group">
  <input type="text" class="form-control" placeholder="Search for...">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
  </span>
</div>
  </div>
  <div class="col-lg-3 col-lg-offset-3 topMargin" style="color: white; text-align: right;">
    Mariusz Pudzianowski
  </div>
  <div class="col-lg-2  text-center">
    <%= image_tag('fcbk_ava.jpg',class:"avatar", alt: 'fcbk_avatar')%>
  </div>
</div>
