<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a class="sidebar-brand" href="#"><%= image_tag('logo_sidebar.png',id:"logo_sidebar", alt: 'vote')%></a>
    <li>
      <a href="#">
        <span class="fa fa-info" style="font-size:14px; margin-right:10px;"></span>
        Informacje o projekcie</a>
    </li>
    <li>
      <a href="#">
        <span class="fa fa-table" style="font-size:14px; margin-right:10px;"></span>
        Twoje Katalogi</a>
    </li>
    <li><%= link_to  destroy_user_session_path, method: :delete do %>
      <span class="fa fa-remove" style="font-size:14px; margin-right:10px;"></span>
      Log Out
      <% end %>
    </li>
  </ul>
</div>
