<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a class="sidebar-brand" href="#"><%= image_tag('vote.png',id:"logo", alt: 'vote')%></a>
        <li>
            <a href="#">Twoje katalogi</a>
        </li>
    </ul>
</div>
