<div class="container" id="main">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center" id="test">
      <%= image_tag('logo.png', alt: 'unipload_logo')%>
    </div>
  </div>
  <div class="row" id="signInButton">
    <div class="col-lg-4 col-lg-offset-4 text-center">
      <%= link_to "Sign In" , new_user_session_path %>
      <%= link_to omniauth_authorize_path(:user, :facebook), class: "btn btn-block btn-social btn-facebook" do %>
      <span class="fa fa-facebook"></span>
      Sign in with Facebook
      <% end %>

    </div>
  </div>
