<div class="row " id="top-bar">
  <div class="col-lg-1 topMargin">
    <a class="btn btn-default" href="#menu-toggle" id="menu-toggle">
      <i class="fa fa-bars fa-2x"></i>
    </a>
  </div>

  <%if current_user %>
  <div style="margin-top:10px;">
  <div class="col-lg-2 col-lg-offset-8 topMargin" style="text-align:right">
  <%=current_user.name %>
  </div>
  <div class="col-lg-1">
    <%= image_tag 'avatar.png', width:50, height:50%>
  </div>
  <%end %>
</div>
