<div class="row " id="top-bar">
  <div class="col-lg-1 topMargin">
    <a class="btn btn-default" href="#menu-toggle" id="menu-toggle">
      <i class="fa fa-bars fa-2x"></i>
    </a>
  </div>

  <%if current_user %>
  <div class="col-lg-2 col-lg-offset-7 topMargin">
    <%= current_user.name %>
  </div>
  <div class="col-lg-1">
    <%= image_tag 'avatar.png', size:50%>
  </div>
  <% end %>
</div>
