@import "sidebar.scss";
@import "style.scss";
body {
  font-family: 'Lato', sans-serif;
}
.container {
  margin-top: 100px;
}
#form-wrapper{
  margin-top: 10px;
padding:10px;
border-radius: 5px 5px 0 0;
display: none;
background: white;
color:#4499ef;
}
#form-wrapper.toggled{
border-bottom:1px solid #4499ef;
}
#formSignIn{
  text-decoration: none !important;
}
div#signInButton{
  padding:10px;
  color:#4499ef;
  border-radius:5px;
  font-weight: bold;
  background-color:white;
  border-color:rgba(0,0,0,0.2);
}
div#closeSignIn{
  text-align:right;
  margin-bottom:-22px;
  font-size:20px
}
div#signInButton.toggled{
  border-radius:0 0 5px 5px;
}
#main a:hover{
text-decoration: none;
}
#signInButton:hover{
background-color:white;
}

#unipload {
  margin-top: 45px;
}

#logo {
margin-bottom:20px
}
a.btn-facebook {
  text-decoration: none;
  color: white;
  margin-top:5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  margin-bottom: 50px;
}
a#menu-toggle {
  background: white !important;
}
a.btn-facebook.btn:focus {
  color: white;
}
.btn-facebook span.fa {
  line-height: 40px;
}


#sendButton {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 408px !important;
  height: 50px;
}
#text_about {
  color: #555;
  font-size: 1.5em;
  font-weight: bold;
  width: 90%;
  margin: 0 auto;
  text-align: justify;
  text-justify: inter-word;
}
