body{
	background-color: #2A2B30;
	font-family: 'Lato', sans-serif;
}

#logo{
}

#menu-toggle{
	border-radius: 0 !important;
	background-color: #1C1D22;
}


#top-bar{
	background-color: #373941;
	padding: 3px;
	color: #FFFFFF;
	font-size: 18px;
}

#top-bar .avatar{
	width: 140px;
}

#top-bar .topMargin{
	margin-top: 55px;
}


#content{
	padding: 30px;
}

#content .box-specialization{
	padding: 10px;
}

#content .button-specialization{
	width: 200px;
	height: 200px;
	white-space: normal;
	font-size: 20px;
}

#content .box-file{
	padding: 10px;
	min-height: 170px;
}

#content .file{
	background-color: #FFFFFF;
	height: 170px;
}

#content .file-icon{
	text-align: center;
}

#content .file-name{
	height: 40px;
	font-size: 17px;
	padding: 10px;
}

#content .file-options{
	height: 30px;
	padding: 4px;
	padding-top: 0px;
}

#content .ico{
	padding-top: 20px;
}

#content .button-download{
	background-color: #0FC002;
	height: 21px;
	border-radius: 0 !important;
}

#content .button-info{
	background-color: #B1B6EA;
	height: 21px;
	border-radius: 0 !important;
}

#content .button-delete{
	background-color: #DE0C0C;
	height: 21px;
	border-radius: 0 !important;
}

#content .folder-icon{
	height: 110px;
	text-align: center;
}

#content .folder-name{
	height: 60px;
	font-size: 14px;
	word-wrap: break-word;
	padding: 20px;
	padding-top: 0px;
/*	background-color: red;*/
}

#content .folder-ico{
	font-size: 120px;
	margin-left: 5px;
}
